@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Exo+2&display=swap');

body {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Amarante', cursive;
    color: #1761a0;
}

p, span, a {
    font-family: 'Exo 2', sans-serif;
}

.main-title {
    text-align: center;
    font-size: 3em;
}

.title {
    margin: 20px 20px 40px 20px;
}
 .covid {
     margin-top: 10px;
     width: 100%;
     border: 2px solid #ff0000;
     padding: 10px;
     font-size: 1.25em;
 }
 .covid-title {
     font-weight: bold;
     font-size: 1.5em;
 }
.navigation {
    margin: 20px 20px 0px 20px;
}
.navbar {
    padding: 0px;
}
.nav1 {
    padding: 0px;
}
.nav-link {
    border: 1px solid #1761a0;
}
a.nav-link:hover {
    background-color: #1761a0;
    color: #fff;
    font-weight: bold;
}
.tab {
    font-size: 1.25em;
}
.active {
    background-color: #1761a0;
}

.mobile {
    margin: 10px 0px 0px 0px;
}
.subtitle {
    text-align: center;
}
.icon {
    font-family: Arial, Helvetica, sans-serif !important;
}
.content {
    margin: 0px 20px 20px 20px;
    border: 1px solid #1761a0;
    padding: 20px;
}

.main, .side {
    padding: 20px;
}
.inner {
    padding: 20px;
    border: 1px solid #1761a0;
    height: 100%;
}
.signature {
    margin-top: 50px;
    text-align: right;
}
.bold {
    font-weight: bold;
}
.awards {
    margin-bottom: 50px;
}
.img200 {
    max-width: 200px;
}
.footer {
    padding: 20px;
}
.legal {
    text-align: center;
}
